{% extends "base.html" %}
{% block title %}Einkauf{% endblock %}

{% block content %}
<div class="container mt-5">
  <h2>Produkt Kaufen</h2>
  <form method="POST" enctype="multipart/form-data">
    <div class="mb-3">
      <label for="product_name" class="form-label">Produktname</label>
      <input type="text" class="form-control" id="product_name" name="product_name" required>
    </div>
    <div class="mb-3">
      <label for="ref_number" class="form-label">Referenznummer</label>
      <input type="text" class="form-control" id="ref_number" name="ref_number" required>
    </div>

    {% if numero_unique %}
    <div class="mb-3">
      <h4>Code-barres du produit</h4>
      <p>Voici le code-barres pour le produit avec le numéro <strong>{{ numero_unique }}</strong> :</p>
      <img src="{{ url_for('static', filename='barcodes/code_barres_' + numero_unique + '.png') }}" alt="Code-barres du produit" class="img-fluid">
    </div>
    {% endif %}
    
    <div class="mb-3">
      <label for="description" class="form-label">Beschreibung</label>
      <textarea class="form-control" id="description" name="description" rows="3"></textarea>
    </div>
    <div class="mb-3">
      <label for="price" class="form-label">Preis pro Einheit (€)</label>
      <input type="number" step="0.01" class="form-control" id="price" name="price" required>
    </div>
    <div class="mb-3">
      <label for="quantity" class="form-label">Menge</label>
      <input type="number" class="form-control" id="quantity" name="quantity" required value="1">
    </div>
    <button type="submit" class="btn btn-primary">Bestellen</button>
  </form>
</div>
{% endblock %}
